<%- include("partials/header");-%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle" class="form-lable">Title</label>
        <input type="text" class="form-control" name="postTitle" autocomplete="off">
        <label for="postMsg" class="form-lable">Post</label><br>
        <textarea name="postMsg" class="form-control" cols="40" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"name="button">Publish</button>
</form>

<%- include("partials/footer");-%>
